*{
    box-sizing: border-box;
}

/* Navigation */
.navbar{
    position: relative;
}

#masthead{
    position: relative;
    padding: 30px 0px 30px 0px;
    background-color: red;
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

#pokemon{
    display: inline-block;
    margin: 0 auto;
}

.img-size{
    height: 90px;
    width: 90px;
}

.pokeball{
    position: absolute;
    left: 50%;
    bottom: -55px;
}

.pokeball .wrapper{
    position: relative;
    left: -50%;
}

/* Section */
#main-body{
    padding:15px 15px 0px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 50px;
}

/* Side Bar */
#side-bar{
    margin-top: 50px;
}

#counter-border{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;    
}

.randomNum, .clickTotal{
    text-align: center;
}

/* You win or You lose */
#win-or-lose{
    margin-top: 20px;
    text-align: center;
    }

#win-lose-border{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;  
    padding: 10px 0px; 
}

/* Pictures */
.green, .red, .blue, .yellow{
    width: 100%;
    height: 100%;
}

#pokemonImage{
margin-top: 20px;
}


/* Score */
.winCount, .lossCount{
    text-align: center;
}

#score-border{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray; 
    margin-top: 20px;   
}