*{
    box-sizing: border-box;
}

/* .pikachu{
    position: fixed;
    bottom: 0px;
    z-index: -1;
    width: 15%;
    height: auto;
} */

/* Navigation */
.navbar{
    position: relative;
}

#masthead{
    position: relative;
    padding: 30px 0px 40px 0px;
    background-color: red;
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

#pokemon{
    display: inline-block;
    margin: 0 auto;
}

.img-size{
    height: 80px;
    width: 80px;
}

.pokeball{
    position: absolute;
    left: 50%;
    bottom: -50px;
}

.pokeball .wrapper{
    position: relative;
    left: -50%;
}

/* Section */
#main-body{
    padding:15px 15px 0px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 40px;
}

/* Side Bar */
#side-bar{
    margin-top: 40px;
}

#counter-border{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;    
}

.randomNum, .clickTotal{
    text-align: center;
}

/* Pictures */
.green, .red, .blue, .yellow{
    width: 100%;
    height: 100%;
}

#pokemonImage{
margin-top: 30px;
}


/* Score */
.winCount, .lossCount{
    text-align: center;
}

#score-border{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray; 
    margin-top: 30px;   
}
